# 1.DataFrame

#### (1)create dataframe

In [1]:
import pandas as pd

#make df from a dictionary

data = {"Name": ['Alice', 'Bob', 'Charlis'], "Age": [25, 32, 13], "city": ["Rome", "Milam", "seoul"]}
df = pd.DataFrame(data)
print(df.head())
print(df.columns) #return index column and dtype

      Name  Age   city
0    Alice   25   Rome
1      Bob   32  Milam
2  Charlis   13  seoul
Index(['Name', 'Age', 'city'], dtype='object')

#### (2) filter data

In [2]:
df_filter = df[df["Age"] > 20]
#filter condition

print(df_filter)

    Name  Age   city
0  Alice   25   Rome
1    Bob   32  Milam

#### (3) calculate condition with columns

In [3]:
df_aggregate = df.groupby("city")['Age'].mean()
#도시별 평균 나이 계산
print(df_aggregate)

city
Milam    32.0
Rome     25.0
seoul    13.0
Name: Age, dtype: float64

#### (4) create new columns

In [4]:
df["Adult"] = df["Age"].apply(lambda x: "Yes" if x >= 18 else "No")
print(df)

      Name  Age   city Adult
0    Alice   25   Rome   Yes
1      Bob   32  Milam   Yes
2  Charlis   13  seoul    No

#### (5) delete columns

In [5]:
df_drop = df.drop(columns = ["Age"])
print(df_drop)

      Name   city Adult
0    Alice   Rome   Yes
1      Bob  Milam   Yes
2  Charlis  seoul    No

#### (6) save csv

In [6]:
df_drop.to_csv("ex_pandas.csv", index = False)

---

# 2.Series

#### (1) make series

In [7]:
ob = pd.Series(range(5))
print(ob)

0    0
1    1
2    2
3    3
4    4
dtype: int64

#### (2)make series from a dictionary

In [8]:
obj = pd.Series({"Jan" : 31, "Feb": 28, "Mar": 31})
print(obj)

Jan    31
Feb    28
Mar    31
dtype: int64

#### (3)make series with scalar value

In [9]:
a = pd.Series(10, index = range(0,3))
print(a)

b = pd.Series(15, index = range(1, 6, 2))
print(b)

c = pd.Series("Welcom to BBK", index = ["Hema", "Anup"])
print(c)

0    10
1    10
2    10
dtype: int64
1    15
3    15
5    15
dtype: int64
Hema    Welcom to BBK
Anup    Welcom to BBK
dtype: object

In [10]:
print(obj.index) #returns index of the series
print(obj.values) #returns ndarray
print(obj.dtype) #returns dtype object of the underlying data
print(obj.shape) #returns tuple of the shape of underlying data
print(obj.nbytes) #return number of bytes of underlying data
print(obj.ndim) #returns the number of dimention
print(obj.size) #returns number of elements
print(obj.hasnans) #return true if there are any NaN
print(obj.empty) #return true if series object is empty

Index(['Jan', 'Feb', 'Mar'], dtype='object')
[31 28 31]
int64
(3,)
24
1
3
False
False

---

# 3.Loading Data

In [11]:
# df = pd.read_csv("<dir>")
# df = pd.read_json("<dir>")

---

# 4.Accese data

#### (1) make custom index

    - first argument must origin dict data

In [16]:
print(df)
labels = ["first", "second", "third"]
new_df = pd.DataFrame(data, index = labels)
print(new_df)

      Name  Age   city Adult
0    Alice   25   Rome   Yes
1      Bob   32  Milam   Yes
2  Charlis   13  seoul    No
           Name  Age   city
first     Alice   25   Rome
second      Bob   32  Milam
third   Charlis   13  seoul

#### (2)accese name of index

In [17]:
print(new_df.loc["first"])
print(new_df.loc[:, ["Name", "Age"]])
print(new_df.loc[labels[0]])

Name    Alice
Age        25
city     Rome
Name: first, dtype: object
           Name  Age
first     Alice   25
second      Bob   32
third   Charlis   13
Name    Alice
Age        25
city     Rome
Name: first, dtype: object

#### (3)accese number of index

In [18]:
print(new_df.iloc[0])
print(new_df.iloc[:, :2])

Name    Alice
Age        25
city     Rome
Name: first, dtype: object
           Name  Age
first     Alice   25
second      Bob   32
third   Charlis   13

#### (4)viewing your data

In [ ]:
print(new_df.head())
#all data

print(new_df.tail(2))
#bottom two rows

           Name  Age   city
first     Alice   25   Rome
second      Bob   32  Milam
third   Charlis   13  seoul
           Name  Age   city
second      Bob   32  Milam
third   Charlis   13  seoul

#### (5)filtering

In [19]:
new_df

           Name  Age   city
first     Alice   25   Rome
second      Bob   32  Milam
third   Charlis   13  seoul

In [20]:
new_df["Age"] > 20

first      True
second     True
third     False
Name: Age, dtype: bool

In [21]:
new_df[new_df["Age"] > 20]

         Name  Age   city
first   Alice   25   Rome
second    Bob   32  Milam

In [25]:
pieces = df[:1], df[1:2], df[2:3]
print(pieces[0])
print(pieces[1])
print(pieces[2])

out = pd.concat(pieces)
print(out)

    Name  Age  city Adult
0  Alice   25  Rome   Yes
  Name  Age   city Adult
1  Bob   32  Milam   Yes
      Name  Age   city Adult
2  Charlis   13  seoul    No
      Name  Age   city Adult
0    Alice   25   Rome   Yes
1      Bob   32  Milam   Yes
2  Charlis   13  seoul    No

# (+)difference ndarray - pandas

In [ ]:
dif = {"ndarray":["position", "same shape", "error", "start from 0 dtype is int", "numerical calculate"]
       ,"Series" : ["index", "same index", "NaN", "number, int, date .. (free)", "label"]}

indexes = ["standard", "cal_condition", "not same shape","structure index", "data proceed"]

diff = pd.DataFrame(dif , index = indexes)
diff