# 1.DataFrame

#### (1)create dataframe

In [ ]:
import pandas as pd

#make df from a dictionary

data = {"Name": ['Alice', 'Bob', 'Charlis'], "Age": [25, 32, 13], "city": ["Rome", "Milam", "seoul"]}
df = pd.DataFrame(data)
print(df.head())
print(df.columns) #return index column and dtype

      Name  Age   city
0    Alice   25   Rome
1      Bob   32  Milam
2  Charlis   13  seoul
Index(['Name', 'Age', 'city'], dtype='object')

#### (2) filter data

In [ ]:
df_filter = df[df["Age"] > 20]
#filter condition

print(df_filter)

    Name  Age   city
0  Alice   25   Rome
1    Bob   32  Milam

#### (3) calculate condition with columns

In [ ]:
df_aggregate = df.groupby("city")['Age'].mean()
#도시별 평균 나이 계산
print(df_aggregate)

city
Milam    32.0
Rome     25.0
seoul    13.0
Name: Age, dtype: float64

In [7]:
df["Adult"] = df["Age"].apply(lambda x: "Yes" if x >= 18 else "No")
print(df)

      Name  Age   city Adult
0    Alice   25   Rome   Yes
1      Bob   32  Milam   Yes
2  Charlis   13  seoul    No

In [8]:
df_drop = df.drop(columns = ["Age"])
print(df_drop)

      Name   city Adult
0    Alice   Rome   Yes
1      Bob  Milam   Yes
2  Charlis  seoul    No

In [9]:
df_drop.to_csv("ex_pandas.csv", index = False)